/* 登录页面  */

.body {
    background-image: url(../images/login.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 0;
}

#login {
       width: 500px;
    height: 350px;
    background-color: rgba(249, 205, 173, 0.25);
    margin-top: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.65);
    border-bottom: 1px solid rgba(231, 228, 228, 0.6);
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.60);
}

#heading {
    width: 500px;
    font-size: 22px;
    margin: auto;
    color: rgb(88, 88, 88);
}
#dl{
	background-image:url(../images/test.jpg);
	color:black;
}
#userName {
    height: 35px;
    width: 276px;
}

#pwd {
    height: 35px;
    width: 276px;
}

#btn {
    margin-top: 10px;
}

input.error {
    border: 1px solid red;
}


/*学生登录界面特有样式*/

#content {
    margin-bottom: 15px;
    margin-left: 65px;
}

.radio {
    font-size: 16px;
    margin-left: 80px;
}

.retrievePwd {
    margin-left: 308px;
    margin-top: 15px;
    font-size: 16px;
}

#captcha {
    width: 145px;
}

#code {
    height: 33px;
    width: 130px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}


/*验证提示框*/

.my-toast {
    font-family: 'Microsoft YaHei';
    position: fixed;
    _position: absolute;
    top: 55%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #F0F0F0;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    z-index: 100;
}

.my-toast .my-toast-text {
    line-height: 32px;
    float: left;
    padding-left: 10px;
    text-align: left;
    width: auto;
    word-break: break-all;
}